In [ ]:
#@title Importing the required libraries
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder,OneHotEncoder,OrdinalEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,confusion_matrix ,f1_score,precision_recall_fscore_support,classification_report,r2_score
from sklearn.model_selection import cross_val_score
import joblib as jb

In [ ]:
#@title Enter set of number seperated by coma between 0-97999
index = [int(x) for x in input("Enter multiple values\n").split(',')]

Enter multiple values
542,45,873,13245,3215,6893

In [ ]:
#@title importing the dataset and split it to X and Y
df=pd.read_csv("/content/credit_score.csv")
df.drop(['ID','Customer_ID','Name','SSN','Type_of_Loan'],axis=1,inplace=True)
df.rename(columns = {'Credit_Mix':'New_Credit_Mix', 'Occupation':'New_Occupation','Payment_Behaviour':'New_Payment_Behaviour','Payment_of_Min_Amount':'New_Payment_of_Min_Amount'}, inplace = True)
df=df[['Month', 'Age', 'Annual_Income', 'Monthly_Inhand_Salary',
       'Num_Bank_Accounts', 'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Outstanding_Debt', 'Credit_Utilization_Ratio',
       'Credit_History_Age', 'Total_EMI_per_month', 'Amount_invested_monthly',
       'Monthly_Balance', 'New_Payment_Behaviour', 'New_Payment_of_Min_Amount',
       'New_Credit_Mix', 'New_Occupation','Credit_Score']]
X = df.iloc[index,:-1]
y = df.iloc[index,-1]
print(type(index))
print(index)

<class 'list'>
[542, 45, 873, 13245, 3215, 6893]

In [ ]:
#@title encrypte the categorical feature 
payment_behaviour=jb.load('/content/New_Payment_Behaviour.sav')
X['New_Payment_Behaviour']=payment_behaviour.transform(X[['New_Payment_Behaviour']])
payment_oma=jb.load('/content/New_Payment_of_Min_Amount.sav')
X['New_Payment_of_Min_Amount']=payment_oma.transform(X[['New_Payment_of_Min_Amount']])
credit_mix=jb.load('/content/New_Credit_Mix.sav')
X['New_Credit_Mix']=credit_mix.transform(X[['New_Credit_Mix']])
occupation=jb.load('/content/New_Occupation.sav')
X['New_Occupation']=occupation.transform(X[['New_Occupation']])
scaler=jb.load('/content/standard scaler.sav')
X=scaler.transform(X)

/usr/local/lib/python3.9/dist-packages/sklearn/preprocessing/_label.py:134: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)
/usr/local/lib/python3.9/dist-packages/sklearn/preprocessing/_label.py:134: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)
/usr/local/lib/python3.9/dist-packages/sklearn/preprocessing/_label.py:134: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)
/usr/local/lib/python3.9/dist-packages/sklearn/preprocessing/_label.py:134: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

In [ ]:
#@title load the model and inverse transform of predicted value
model=jb.load('/content/model (1).sav')
credit_score=jb.load('/content/New_Credit_Score.sav')
y1=model.predict(X)
y_pred=credit_score.inverse_transform(y1)

In [ ]:
print(y[:]),print(y_pred[:])

542      Poor
45       Good
873      Poor
13245    Poor
3215     Poor
6893     Poor
Name: Credit_Score, dtype: object
['Poor' 'Good' 'Poor' 'Poor' 'Poor' 'Standard']

(None, None)